@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@using Newtonsoft.Json
@inject IJSRuntime JS
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IStringLocalizerFactory LocalizerFactory
@page "/bcm/plans/{PlanId:int}/exercises"
@using EBSCore.Web.Models.BCM

<h3>Exercise Tracker</h3>
<p>Exercises linked to plan @PlanId.</p>

@code {
    [Parameter]
    public int PlanId { get; set; }
}
