@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@using Newtonsoft.Json
@inject IJSRuntime JS
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IStringLocalizerFactory LocalizerFactory
@page "/bcm/plans"
@using EBSCore.Web.Models.BCM
@inject ILogger<PlansIndex> Logger

<h3>BCM Plans</h3>
<p>List of plans will appear here.</p>
