@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@using Newtonsoft.Json
@inject IJSRuntime JS
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IStringLocalizerFactory LocalizerFactory
@page "/bcm/plans/{PlanId:int}"
@using EBSCore.Web.Models.BCM
@inject ILogger<PlanDetails> Logger

<h3>Plan Details</h3>
<p>Details for plan @PlanId.</p>

@code {
    [Parameter]
    public int PlanId { get; set; }
}
