@using EBSCore.Web.Models
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.Localization
@using Microsoft.JSInterop
@using Newtonsoft.Json
@using EBSCore.Web.Services
@using Microsoft.AspNetCore.Components.Web
@using System.Net.Http.Json
@using System.Linq
@using EBSCore.Web.Pages.Controls
@inject IJSRuntime JS
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IStringLocalizerFactory LocalizerFactory
@inject PageTitleService PageTitleService
<div class="card mt-3">
    <div class="card-header">Dependencies</div>
    <div class="card-body">
        <ul class="list-group">
            @if (Items?.Count == 0)
            {
                <li class="list-group-item">No dependencies defined</li>
            }
            else
            {
                @foreach (var dep in Items)
                {
                    <li class="list-group-item">@dep.DependencyType - @dep.Description</li>
                }
            }
        </ul>
    </div>
</div>

@code {
    [Parameter] public List<Models.BIA.S7SBIADependency> Items { get; set; } = new();
}
