USE [EBS]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 11/21/2025 9:48:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[MenuItemID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NULL,
	[LabelAR] [nvarchar](100) NOT NULL,
	[LabelEN] [nvarchar](100) NOT NULL,
	[DescriptionAR] [nvarchar](100) NULL,
	[DescriptionEn] [nvarchar](100) NULL,
	[Url] [nvarchar](255) NULL,
	[Icon] [nvarchar](50) NULL,
	[Order] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Permission] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__MenuItem__8943F702DB30CA1D] PRIMARY KEY CLUSTERED 
(
	[MenuItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MenuItems] ON 

INSERT [dbo].[MenuItems] ([MenuItemID], [ParentID], [LabelAR], [LabelEN], [DescriptionAR], [DescriptionEn], [Url], [Icon], [Order], [IsActive], [Permission], [Type], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (1, NULL, N'المؤشرات', N'Dashboard', NULL, NULL, N'/', N'fa-solid fa-square-poll-vertical', 1, 0, NULL, NULL, 1, NULL, CAST(N'2024-07-24T17:43:32.267' AS DateTime), CAST(N'2024-07-24T17:43:32.267' AS DateTime))
INSERT [dbo].[MenuItems] ([MenuItemID], [ParentID], [LabelAR], [LabelEN], [DescriptionAR], [DescriptionEn], [Url], [Icon], [Order], [IsActive], [Permission], [Type], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (2, NULL, N'استمرارية الأعمال', N'Business Continuity ', NULL, NULL, NULL, NULL, 1, 1, NULL, NULL, 1, NULL, CAST(N'2025-09-20T12:13:01.663' AS DateTime), CAST(N'2025-09-20T12:13:01.663' AS DateTime))
INSERT [dbo].[MenuItems] ([MenuItemID], [ParentID], [LabelAR], [LabelEN], [DescriptionAR], [DescriptionEn], [Url], [Icon], [Order], [IsActive], [Permission], [Type], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (3, 2, N'تحليل الأثر على الأعمال', N'BIA', NULL, NULL, N'/BCM/BIA', NULL, 1, 1, NULL, NULL, 1, NULL, CAST(N'2025-09-20T12:13:36.557' AS DateTime), CAST(N'2025-09-20T12:13:36.557' AS DateTime))
SET IDENTITY_INSERT [dbo].[MenuItems] OFF
GO
ALTER TABLE [dbo].[MenuItems] ADD  CONSTRAINT [DF__MenuItems__IsAct__77FFC2B3]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MenuItems] ADD  CONSTRAINT [DF__MenuItems__Creat__78F3E6EC]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_ParentID] FOREIGN KEY([ParentID])
REFERENCES [dbo].[MenuItems] ([MenuItemID])
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_ParentID]
GO
