USE [ACCKI]
GO
/****** Object:  Table [dbo].[NotificationStatus]    Script Date: 11/21/2025 2:22:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationStatus](
	[TemplateStatusID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateID] [int] NOT NULL,
	[Email] [nvarchar](500) NULL,
	[CCEmails] [nvarchar](500) NULL,
	[BCCEmails] [nvarchar](500) NULL,
	[Sent] [bit] NOT NULL,
	[Success] [bit] NOT NULL,
	[TryAgain] [bit] NOT NULL,
	[TryDate] [datetime2](0) NULL,
	[LastTryDate] [datetime2](0) NULL,
	[ExceptionID] [int] NULL,
	[NoOfTry] [int] NOT NULL,
	[CountryCode] [int] NULL,
	[MobileNo] [nvarchar](20) NULL,
	[NotificationChannel] [int] NOT NULL,
	[ToUserID] [int] NULL,
	[ErrorMessage] [nvarchar](2000) NULL,
	[ErrorStack] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_NotificationStatus] PRIMARY KEY CLUSTERED 
(
	[TemplateStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationTemplates]    Script Date: 11/21/2025 2:22:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationTemplates](
	[TemplateID] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](250) NULL,
	[Template] [nvarchar](max) NOT NULL,
	[TemplateDate] [datetime2](0) NOT NULL,
	[UseDesign] [bit] NOT NULL,
	[FromEmail] [nvarchar](150) NULL,
	[Attachments] [nvarchar](500) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_NotificationTemplates] PRIMARY KEY CLUSTERED 
(
	[TemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[NotificationStatus] ADD  CONSTRAINT [DF_NotificationStatus_Sent]  DEFAULT ((0)) FOR [Sent]
GO
ALTER TABLE [dbo].[NotificationStatus] ADD  CONSTRAINT [DF_NotificationStatus_Success]  DEFAULT ((0)) FOR [Success]
GO
ALTER TABLE [dbo].[NotificationStatus] ADD  CONSTRAINT [DF_NotificationStatus_TryAgain]  DEFAULT ((1)) FOR [TryAgain]
GO
ALTER TABLE [dbo].[NotificationStatus] ADD  CONSTRAINT [DF_NotificationStatus_NoOfTry]  DEFAULT ((0)) FOR [NoOfTry]
GO
ALTER TABLE [dbo].[NotificationStatus] ADD  CONSTRAINT [DF_NotificationStatus_NotificationChannel]  DEFAULT ((1)) FOR [NotificationChannel]
GO
ALTER TABLE [dbo].[NotificationStatus] ADD  CONSTRAINT [DF_NotificationStatus_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NotificationTemplates] ADD  CONSTRAINT [DF_NotificationTemplates_TemplateDate]  DEFAULT (sysdatetime()) FOR [TemplateDate]
GO
ALTER TABLE [dbo].[NotificationTemplates] ADD  CONSTRAINT [DF_NotificationTemplates_UseDesign]  DEFAULT ((1)) FOR [UseDesign]
GO
ALTER TABLE [dbo].[NotificationTemplates] ADD  CONSTRAINT [DF_NotificationTemplates_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NotificationStatus]  WITH CHECK ADD  CONSTRAINT [FK_NotificationStatus_NotificationTemplates] FOREIGN KEY([TemplateID])
REFERENCES [dbo].[NotificationTemplates] ([TemplateID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotificationStatus] CHECK CONSTRAINT [FK_NotificationStatus_NotificationTemplates]
GO
/****** Object:  StoredProcedure [dbo].[NotificationHistorySP]    Script Date: 11/21/2025 2:22:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[NotificationHistorySP]
    @Operation          NVARCHAR(50)    = 'List',
    @TemplateStatusID   INT             = NULL,
    @PageNumber         INT             = 1,
    @PageSize           INT             = 10,
    @SortColumn         NVARCHAR(50)    = N'TemplateStatusID',
    @SortDirection      NVARCHAR(4)     = N'DESC',
    @SearchQuery        NVARCHAR(200)   = NULL,
    @Sent               BIT             = NULL,
    @Success            BIT             = NULL,
    @Channel            INT             = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Operation = 'List'
    BEGIN
        IF @PageNumber < 1 SET @PageNumber = 1;
        IF @PageSize < 1 SET @PageSize = 10;

        DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

        ;WITH Filtered AS
        (
            SELECT
                NS.TemplateStatusID,
                NS.TemplateID,
                NT.Subject,
                NT.Template,
                NT.TemplateDate,
                NT.FromEmail,
                NT.Attachments,
                NS.Email,
                NS.CCEmails,
                NS.BCCEmails,
                NS.Sent,
                NS.Success,
                NS.TryAgain,
                NS.TryDate,
                NS.LastTryDate,
                NS.NoOfTry,
                NS.NotificationChannel,
                NS.ExceptionID,
                NS.ErrorMessage,
                NS.CreatedAt,
                NS.UpdatedAt
            FROM [dbo].[NotificationStatus] NS
            INNER JOIN [dbo].[NotificationTemplates] NT ON NT.TemplateID = NS.TemplateID
            WHERE (@SearchQuery IS NULL
                   OR NT.Subject LIKE '%' + @SearchQuery + '%'
                   OR NS.Email LIKE '%' + @SearchQuery + '%'
                   OR NS.CCEmails LIKE '%' + @SearchQuery + '%'
                   OR NS.BCCEmails LIKE '%' + @SearchQuery + '%')
              AND (@Sent IS NULL OR NS.Sent = @Sent)
              AND (@Success IS NULL OR NS.Success = @Success)
              AND (@Channel IS NULL OR NS.NotificationChannel = @Channel)
        ),
        Ordered AS
        (
            SELECT F.*,
                   ROW_NUMBER() OVER (
                       ORDER BY
                           CASE
                               WHEN @SortColumn = N'Subject' AND @SortDirection = N'ASC' THEN F.Subject
                               ELSE NULL
                           END ASC,
                           CASE
                               WHEN @SortColumn = N'Subject' AND @SortDirection = N'DESC' THEN F.Subject
                               ELSE NULL
                           END DESC,
                           CASE
                               WHEN @SortColumn = N'TemplateDate' AND @SortDirection = N'ASC' THEN F.TemplateDate
                               ELSE NULL
                           END ASC,
                           CASE
                               WHEN @SortColumn = N'TemplateDate' AND @SortDirection = N'DESC' THEN F.TemplateDate
                               ELSE NULL
                           END DESC,
                           CASE
                               WHEN @SortDirection = N'ASC' THEN F.TemplateStatusID
                               ELSE NULL
                           END ASC,
                           F.TemplateStatusID DESC
                   ) AS RowNum
            FROM Filtered F
        )
        SELECT
            TemplateStatusID,
            TemplateID,
            Subject,
            Template,
            TemplateDate,
            FromEmail,
            Attachments,
            Email,
            CCEmails,
            BCCEmails,
            Sent,
            Success,
            TryAgain,
            TryDate,
            LastTryDate,
            NoOfTry,
            NotificationChannel,
            ExceptionID,
            ErrorMessage,
            CreatedAt,
            UpdatedAt
        FROM Ordered
        WHERE RowNum BETWEEN @Offset + 1 AND @Offset + @PageSize
        ORDER BY RowNum;

        -- Recreate the CTE for PageCount calculation
        ;WITH Filtered AS
        (
            SELECT
                NS.TemplateStatusID
            FROM [dbo].[NotificationStatus] NS
            INNER JOIN [dbo].[NotificationTemplates] NT ON NT.TemplateID = NS.TemplateID
            WHERE (@SearchQuery IS NULL
                   OR NT.Subject LIKE '%' + @SearchQuery + '%'
                   OR NS.Email LIKE '%' + @SearchQuery + '%'
                   OR NS.CCEmails LIKE '%' + @SearchQuery + '%'
                   OR NS.BCCEmails LIKE '%' + @SearchQuery + '%')
              AND (@Sent IS NULL OR NS.Sent = @Sent)
              AND (@Success IS NULL OR NS.Success = @Success)
              AND (@Channel IS NULL OR NS.NotificationChannel = @Channel)
        )
        SELECT
            CASE
                WHEN COUNT(*) = 0 THEN 1
                ELSE CEILING(COUNT(*) * 1.0 / @PageSize)
            END AS PageCount
        FROM Filtered;

        RETURN;
    END;

    IF @Operation = 'ById'
    BEGIN
        SELECT
            NS.TemplateStatusID,
            NS.TemplateID,
            NT.Subject,
            NT.Template,
            NT.TemplateDate,
            NT.FromEmail,
            NS.Email,
            NS.CCEmails,
            NS.BCCEmails,
            NS.Sent,
            NS.Success,
            NS.TryAgain,
            NS.TryDate,
            NS.LastTryDate,
            NS.NoOfTry,
            NS.NotificationChannel,
            NS.ExceptionID,
            NS.ErrorMessage,
            NS.ErrorStack,
            NS.CreatedAt,
            NS.UpdatedAt
        FROM [dbo].[NotificationStatus] NS
        INNER JOIN [dbo].[NotificationTemplates] NT ON NT.TemplateID = NS.TemplateID
        WHERE NS.TemplateStatusID = @TemplateStatusID;

        RETURN;
    END;
END;
GO
/****** Object:  StoredProcedure [dbo].[NotificationSP]    Script Date: 11/21/2025 2:22:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[NotificationSP]
    @Operation              NVARCHAR(100),
    @UserID                 INT               = NULL,
    @TemplateID             INT               = NULL,
    @Subject                NVARCHAR(250)     = NULL,
    @Template               NVARCHAR(MAX)     = NULL,
    @TemplateDate           DATETIME2(0)      = NULL,
    @UseDesign              BIT               = NULL,
    @FromEmail              NVARCHAR(150)     = NULL,
    @Attachments            NVARCHAR(500)     = NULL,
    @TemplateStatusID       INT               = NULL,
    @Email                  NVARCHAR(500)     = NULL,
    @CCEmails               NVARCHAR(500)     = NULL,
    @BCCEmails              NVARCHAR(500)     = NULL,
    @Sent                   BIT               = NULL,
    @Success                BIT               = NULL,
    @TryAgain               BIT               = NULL,
    @TryDate                DATETIME2(0)      = NULL,
    @LastTryDate            DATETIME2(0)      = NULL,
    @ExceptionID            INT               = NULL,
    @NoOfTry                INT               = NULL,
    @CountryCode            INT               = NULL,
    @MobileNo               NVARCHAR(20)      = NULL,
    @NotificationChannel    INT               = NULL,
    @ToUserID               INT               = NULL,
    @ErrorMessage           NVARCHAR(2000)    = NULL,
    @ErrorStack             NVARCHAR(MAX)     = NULL,
    @BatchSize              INT               = 50
AS
BEGIN
    SET NOCOUNT ON;

    IF @Operation = 'SaveTemplate'
    BEGIN
        INSERT INTO [dbo].[NotificationTemplates]
        (
            [Subject],
            [Template],
            [TemplateDate],
            [UseDesign],
            [FromEmail],
            [Attachments],
            [CreatedBy],
            [CreatedAt]
        )
        VALUES
        (
            @Subject,
            @Template,
            ISNULL(@TemplateDate, SYSDATETIME()),
            ISNULL(@UseDesign, 1),
            @FromEmail,
            @Attachments,
            @UserID,
            SYSDATETIME()
        );

        SELECT CAST(SCOPE_IDENTITY() AS INT) AS TemplateID;
        RETURN;
    END;

    IF @Operation = 'UpdateTemplate'
    BEGIN
        UPDATE T
        SET
            [Subject] = @Subject,
            [Template] = ISNULL(@Template, [Template]),
            [TemplateDate] = ISNULL(@TemplateDate, [TemplateDate]),
            [UseDesign] = ISNULL(@UseDesign, [UseDesign]),
            [FromEmail] = @FromEmail,
            [Attachments] = @Attachments,
            [UpdatedBy] = @UserID,
            [UpdatedAt] = SYSDATETIME()
        FROM [dbo].[NotificationTemplates] T
        WHERE T.TemplateID = @TemplateID;

        RETURN;
    END;

    IF @Operation = 'SaveStatus'
    BEGIN
        INSERT INTO [dbo].[NotificationStatus]
        (
            [TemplateID],
            [Email],
            [CCEmails],
            [BCCEmails],
            [Sent],
            [Success],
            [TryAgain],
            [TryDate],
            [LastTryDate],
            [ExceptionID],
            [NoOfTry],
            [CountryCode],
            [MobileNo],
            [NotificationChannel],
            [ToUserID],
            [ErrorMessage],
            [ErrorStack],
            [CreatedAt]
        )
        VALUES
        (
            @TemplateID,
            @Email,
            @CCEmails,
            @BCCEmails,
            0,
            0,
            1,
            NULL,
            NULL,
            @ExceptionID,
            ISNULL(@NoOfTry, 0),
            @CountryCode,
            @MobileNo,
            ISNULL(@NotificationChannel, 1),
            @ToUserID,
            @ErrorMessage,
            @ErrorStack,
            SYSDATETIME()
        );

        SELECT CAST(SCOPE_IDENTITY() AS INT) AS TemplateStatusID;
        RETURN;
    END;

    IF @Operation = 'SaveAll'
    BEGIN
        DECLARE @NewTemplateID INT;

        INSERT INTO [dbo].[NotificationTemplates]
        (
            [Subject],
            [Template],
            [TemplateDate],
            [UseDesign],
            [FromEmail],
            [Attachments],
            [CreatedBy],
            [CreatedAt]
        )
        VALUES
        (
            @Subject,
            @Template,
            ISNULL(@TemplateDate, SYSDATETIME()),
            ISNULL(@UseDesign, 1),
            @FromEmail,
            @Attachments,
            @UserID,
            SYSDATETIME()
        );

        SET @NewTemplateID = CAST(SCOPE_IDENTITY() AS INT);

        INSERT INTO [dbo].[NotificationStatus]
        (
            [TemplateID],
            [Email],
            [CCEmails],
            [BCCEmails],
            [Sent],
            [Success],
            [TryAgain],
            [TryDate],
            [LastTryDate],
            [ExceptionID],
            [NoOfTry],
            [CountryCode],
            [MobileNo],
            [NotificationChannel],
            [ToUserID],
            [ErrorMessage],
            [ErrorStack],
            [CreatedAt]
        )
        VALUES
        (
            @NewTemplateID,
            @Email,
            @CCEmails,
            @BCCEmails,
            0,
            0,
            1,
            NULL,
            NULL,
            @ExceptionID,
            ISNULL(@NoOfTry, 0),
            @CountryCode,
            @MobileNo,
            ISNULL(@NotificationChannel, 1),
            @ToUserID,
            @ErrorMessage,
            @ErrorStack,
            SYSDATETIME()
        );

        SELECT @NewTemplateID AS TemplateID, CAST(SCOPE_IDENTITY() AS INT) AS TemplateStatusID;
        RETURN;
    END;

    IF @Operation = 'rtvPendingNotifications'
    BEGIN
        DECLARE @Pending TABLE (TemplateStatusID INT PRIMARY KEY);

        INSERT INTO @Pending (TemplateStatusID)
        SELECT TOP (ISNULL(@BatchSize, 50)) NS.TemplateStatusID
        FROM [dbo].[NotificationStatus] NS
        WHERE NS.Sent = 0
          AND NS.TryAgain = 1
        ORDER BY NS.TemplateStatusID;

        UPDATE NS
        SET
            NS.TryAgain = 0,
            NS.TryDate = ISNULL(NS.TryDate, SYSDATETIME()),
            NS.LastTryDate = SYSDATETIME(),
            NS.NoOfTry = NS.NoOfTry + 1,
            NS.UpdatedAt = SYSDATETIME()
        FROM [dbo].[NotificationStatus] NS
        INNER JOIN @Pending P ON P.TemplateStatusID = NS.TemplateStatusID;

        SELECT
            NS.TemplateStatusID,
            NS.TemplateID,
            NT.Subject,
            NT.Template,
            NT.TemplateDate,
            NT.UseDesign,
            NT.FromEmail,
            NT.Attachments,
            NS.Email,
            NS.CCEmails,
            NS.BCCEmails,
            NS.NotificationChannel,
            NS.ToUserID,
            NS.NoOfTry
        FROM [dbo].[NotificationStatus] NS
        INNER JOIN [dbo].[NotificationTemplates] NT ON NT.TemplateID = NS.TemplateID
        WHERE NS.TemplateStatusID IN (SELECT TemplateStatusID FROM @Pending)
        ORDER BY NS.TemplateStatusID;
        RETURN;
    END;

    IF @Operation = 'MarkSent'
    BEGIN
        UPDATE NS
        SET
            NS.Sent = 1,
            NS.Success = 1,
            NS.TryAgain = 0,
            NS.LastTryDate = SYSDATETIME(),
            NS.UpdatedAt = SYSDATETIME(),
            NS.ErrorMessage = NULL,
            NS.ErrorStack = NULL,
            NS.ExceptionID = @ExceptionID
        FROM [dbo].[NotificationStatus] NS
        WHERE NS.TemplateStatusID = @TemplateStatusID;

        RETURN;
    END;

    IF @Operation = 'MarkFailed'
    BEGIN
        UPDATE NS
        SET
            NS.Sent = 1,
            NS.Success = 0,
            NS.TryAgain = 1,
            NS.LastTryDate = SYSDATETIME(),
            NS.ExceptionID = @ExceptionID,
            NS.ErrorMessage = @ErrorMessage,
            NS.ErrorStack = @ErrorStack,
            NS.UpdatedAt = SYSDATETIME()
        FROM [dbo].[NotificationStatus] NS
        WHERE NS.TemplateStatusID = @TemplateStatusID;

        RETURN;
    END;

    IF @Operation = 'ResetForRetry'
    BEGIN
        UPDATE NS
        SET
            NS.Sent = 0,
            NS.Success = 0,
            NS.TryAgain = 1,
            NS.TryDate = NULL,
            NS.LastTryDate = NULL,
            NS.ExceptionID = NULL,
            NS.ErrorMessage = NULL,
            NS.ErrorStack = NULL,
            NS.NoOfTry = 0,
            NS.UpdatedAt = SYSDATETIME()
        FROM [dbo].[NotificationStatus] NS
        WHERE NS.TemplateStatusID = @TemplateStatusID;

        RETURN;
    END;

    IF @Operation = 'DeleteTemplate'
    BEGIN
        DELETE FROM [dbo].[NotificationTemplates]
        WHERE TemplateID = @TemplateID;

        RETURN;
    END;

    IF @Operation = 'GetStatus'
    BEGIN
        SELECT
            NS.TemplateStatusID,
            NS.TemplateID,
            NT.Subject,
            NT.Template,
            NS.Email,
            NS.CCEmails,
            NS.BCCEmails,
            NS.Sent,
            NS.Success,
            NS.TryAgain,
            NS.TryDate,
            NS.LastTryDate,
            NS.NoOfTry,
            NS.NotificationChannel,
            NS.ExceptionID,
            NS.ErrorMessage,
            NS.ErrorStack,
            NS.CreatedAt,
            NS.UpdatedAt
        FROM [dbo].[NotificationStatus] NS
        INNER JOIN [dbo].[NotificationTemplates] NT ON NT.TemplateID = NS.TemplateID
        WHERE NS.TemplateStatusID = @TemplateStatusID;

        RETURN;
    END;
END;

GO
/****** Object:  StoredProcedure [dbo].[NotificationTemplateSP]    Script Date: 11/21/2025 2:22:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NotificationTemplateSP]
    @Operation NVARCHAR(100),
    @CurrentUserID INT = NULL,
    @NotificationTemplateID INT = NULL,
    @TemplateKey NVARCHAR(100) = NULL,
    @Name NVARCHAR(150) = NULL,
    @Channel NVARCHAR(50) = NULL,
    @Subject NVARCHAR(200) = NULL,
    @Body NVARCHAR(MAX) = NULL,
    @Description NVARCHAR(255) = NULL,
    @IsActive BIT = NULL,
    @CompanyID INT = NULL,
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @SortColumn NVARCHAR(50) = NULL,
    @SortDirection NVARCHAR(4) = 'ASC',
    @SearchQuery NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CurrentUserType INT = (SELECT UserType FROM [User] WHERE UserID = @CurrentUserID);

    IF @Operation IN ('Save', 'Delete') AND ISNULL(@CurrentUserType, 0) <> 1
        THROW 51120, 'You''re not allowed to do the action', 1;

    IF @Operation = 'Save'
    BEGIN
        IF @TemplateKey IS NULL OR @Channel IS NULL
            THROW 51121, 'Template key and channel are required.', 1;

        IF EXISTS (
            SELECT 1
            FROM [NotificationTemplate]
            WHERE TemplateKey = @TemplateKey
              AND Channel = @Channel
              AND ISNULL(CompanyID, -1) = ISNULL(@CompanyID, -1)
              AND NotificationTemplateID <> ISNULL(@NotificationTemplateID, 0)
        )
            THROW 51122, 'Template key already exists for the selected channel.', 1;

        IF EXISTS (SELECT 1 FROM [NotificationTemplate] WHERE NotificationTemplateID = @NotificationTemplateID)
        BEGIN
            INSERT INTO [ScreenActionHistory]
            VALUES (@CurrentUserID, 'UPDATE', 'NotificationTemplate', @NotificationTemplateID,
                    (SELECT * FROM [NotificationTemplate] WHERE NotificationTemplateID = @NotificationTemplateID FOR XML AUTO), GETDATE());

            UPDATE [NotificationTemplate]
               SET TemplateKey = @TemplateKey,
                   [Name] = @Name,
                   Channel = @Channel,
                   [Subject] = @Subject,
                   [Body] = @Body,
                   [Description] = @Description,
                   IsActive = COALESCE(@IsActive, IsActive),
                   CompanyID = @CompanyID,
                   UpdatedBy = @CurrentUserID,
                   UpdatedAt = GETDATE()
             WHERE NotificationTemplateID = @NotificationTemplateID;
        END
        ELSE
        BEGIN
            INSERT INTO [NotificationTemplate]
                (TemplateKey, [Name], Channel, [Subject], [Body], [Description], IsActive, CompanyID, CreatedBy, CreatedAt)
            VALUES
                (@TemplateKey,
                 @Name,
                 @Channel,
                 @Subject,
                 @Body,
                 @Description,
                 ISNULL(@IsActive, 1),
                 @CompanyID,
                 @CurrentUserID,
                 GETDATE());

            SET @NotificationTemplateID = SCOPE_IDENTITY();

            INSERT INTO [ScreenActionHistory]
            VALUES (@CurrentUserID, 'Insert', 'NotificationTemplate', @NotificationTemplateID,
                    (SELECT * FROM [NotificationTemplate] WHERE NotificationTemplateID = @NotificationTemplateID FOR XML AUTO), GETDATE());
        END
    END
    ELSE IF @Operation = 'rtvTemplate'
    BEGIN
        SELECT NotificationTemplateID, TemplateKey, [Name], Channel, [Subject], [Body], [Description], IsActive,
               CompanyID, CreatedBy, CreatedAt, UpdatedBy, UpdatedAt
        FROM [NotificationTemplate]
        WHERE NotificationTemplateID = @NotificationTemplateID;

        INSERT INTO [ScreenActionHistory]
        VALUES (@CurrentUserID, 'Select One', 'NotificationTemplate', @NotificationTemplateID,
                (SELECT * FROM [NotificationTemplate] WHERE NotificationTemplateID = @NotificationTemplateID FOR XML AUTO), GETDATE());
    END
    ELSE IF @Operation = 'rtvTemplates'
    BEGIN
        ;WITH TemplateData AS
        (
            SELECT ROW_NUMBER() OVER (
                       ORDER BY
                           CASE WHEN @SortColumn = 'Name' AND @SortDirection = 'ASC' THEN [Name] END ASC,
                           CASE WHEN @SortColumn = 'Name' AND @SortDirection = 'DESC' THEN [Name] END DESC,
                           NotificationTemplateID DESC
                   ) AS SerialNo,
                   NotificationTemplateID, TemplateKey, [Name], Channel, [Subject], [Body], [Description], IsActive,
                   CompanyID, CreatedBy, CreatedAt, UpdatedBy, UpdatedAt
            FROM [NotificationTemplate]
            WHERE (@SearchQuery IS NULL
                   OR [Name] LIKE '%' + @SearchQuery + '%'
                   OR TemplateKey LIKE '%' + @SearchQuery + '%'
                   OR Channel LIKE '%' + @SearchQuery + '%')
        )
        SELECT *
        FROM TemplateData
        WHERE SerialNo BETWEEN ((@PageNumber - 1) * @PageSize) + 1 AND @PageNumber * @PageSize;

        SELECT CEILING(COUNT(*) * 1.0 / NULLIF(@PageSize, 0)) AS PageCount,
               @PageNumber AS CurrentPage
        FROM [NotificationTemplate]
        WHERE (@SearchQuery IS NULL
               OR [Name] LIKE '%' + @SearchQuery + '%'
               OR TemplateKey LIKE '%' + @SearchQuery + '%'
               OR Channel LIKE '%' + @SearchQuery + '%');

        INSERT INTO [ScreenActionHistory]
        VALUES (@CurrentUserID, 'Select All', 'NotificationTemplate', NULL,
                (SELECT * FROM [NotificationTemplate] FOR XML AUTO), GETDATE());
    END
    ELSE IF @Operation = 'Delete'
    BEGIN
        INSERT INTO [ScreenActionHistory]
        VALUES (@CurrentUserID, 'DELETE', 'NotificationTemplate', @NotificationTemplateID,
                (SELECT * FROM [NotificationTemplate] WHERE NotificationTemplateID = @NotificationTemplateID FOR XML AUTO), GETDATE());

        DELETE FROM [NotificationTemplate]
        WHERE NotificationTemplateID = @NotificationTemplateID;
    END
END

GO
