USE [EBS]
GO
/****** Object:  Table [dbo].[S7SCredential]    Script Date: 11/21/2025 12:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S7SCredential](
	[CredentialID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CredentialType] [nvarchar](100) NOT NULL,
	[DataJson] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CompanyID] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CredentialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S7SExecution]    Script Date: 11/21/2025 12:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S7SExecution](
	[ExecutionID] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkflowID] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TriggerType] [nvarchar](50) NOT NULL,
	[TriggerDataJson] [nvarchar](max) NULL,
	[WebhookRequestJson] [nvarchar](max) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[StartedAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
	[RetryCount] [int] NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CompanyID] [int] NULL,
	[UnitID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExecutionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S7SExecutionStep]    Script Date: 11/21/2025 12:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S7SExecutionStep](
	[ExecutionStepID] [bigint] IDENTITY(1,1) NOT NULL,
	[ExecutionID] [bigint] NOT NULL,
	[NodeID] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[StartedAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
	[RetryCount] [int] NOT NULL,
	[OutputJson] [nvarchar](max) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[SelectedOutputKey] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExecutionStepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S7SNode]    Script Date: 11/21/2025 12:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S7SNode](
	[NodeID] [int] IDENTITY(1,1) NOT NULL,
	[WorkflowID] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[NodeType] [nvarchar](100) NOT NULL,
	[ConfigJson] [nvarchar](max) NULL,
	[PositionX] [decimal](18, 4) NOT NULL,
	[PositionY] [decimal](18, 4) NOT NULL,
	[CredentialID] [int] NULL,
	[RetryCount] [int] NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[NodeKey] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[NodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S7SNodeConnection]    Script Date: 11/21/2025 12:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S7SNodeConnection](
	[NodeConnectionID] [int] IDENTITY(1,1) NOT NULL,
	[WorkflowID] [int] NOT NULL,
	[SourceNodeID] [int] NOT NULL,
	[SourceOutputKey] [nvarchar](100) NULL,
	[TargetNodeID] [int] NOT NULL,
	[TargetInputKey] [nvarchar](100) NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NodeConnectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S7SWorkflow]    Script Date: 11/21/2025 12:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S7SWorkflow](
	[WorkflowID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CompanyID] [int] NULL,
	[UnitID] [bigint] NULL,
	[WorkflowCode] [nvarchar](50) NULL,
	[Priority] [nvarchar](50) NULL,
	[Frequency] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkflowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[S7SWorkflowTrigger]    Script Date: 11/21/2025 12:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S7SWorkflowTrigger](
	[WorkflowTriggerID] [int] IDENTITY(1,1) NOT NULL,
	[WorkflowID] [int] NOT NULL,
	[TriggerType] [nvarchar](50) NOT NULL,
	[TriggerNodeID] [int] NULL,
	[Secret] [nvarchar](200) NULL,
	[CronExpression] [nvarchar](100) NULL,
	[ConfigurationJson] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkflowTriggerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[S7SCredential] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[S7SCredential] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[S7SExecution] ADD  DEFAULT (sysutcdatetime()) FOR [StartedAt]
GO
ALTER TABLE [dbo].[S7SExecution] ADD  DEFAULT ((0)) FOR [RetryCount]
GO
ALTER TABLE [dbo].[S7SExecution] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[S7SExecution] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[S7SExecutionStep] ADD  DEFAULT (sysutcdatetime()) FOR [StartedAt]
GO
ALTER TABLE [dbo].[S7SExecutionStep] ADD  DEFAULT ((0)) FOR [RetryCount]
GO
ALTER TABLE [dbo].[S7SExecutionStep] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[S7SExecutionStep] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[S7SNode] ADD  DEFAULT ((0)) FOR [PositionX]
GO
ALTER TABLE [dbo].[S7SNode] ADD  DEFAULT ((0)) FOR [PositionY]
GO
ALTER TABLE [dbo].[S7SNode] ADD  DEFAULT ((0)) FOR [RetryCount]
GO
ALTER TABLE [dbo].[S7SNode] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[S7SNode] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[S7SNodeConnection] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[S7SNodeConnection] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[S7SWorkflow] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[S7SWorkflow] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[S7SWorkflow] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[S7SWorkflowTrigger] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[S7SWorkflowTrigger] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[S7SWorkflowTrigger] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[S7SExecution]  WITH CHECK ADD  CONSTRAINT [FK_S7SExecution_Workflow] FOREIGN KEY([WorkflowID])
REFERENCES [dbo].[S7SWorkflow] ([WorkflowID])
GO
ALTER TABLE [dbo].[S7SExecution] CHECK CONSTRAINT [FK_S7SExecution_Workflow]
GO
ALTER TABLE [dbo].[S7SExecutionStep]  WITH CHECK ADD  CONSTRAINT [FK_S7SExecutionStep_Execution] FOREIGN KEY([ExecutionID])
REFERENCES [dbo].[S7SExecution] ([ExecutionID])
GO
ALTER TABLE [dbo].[S7SExecutionStep] CHECK CONSTRAINT [FK_S7SExecutionStep_Execution]
GO
ALTER TABLE [dbo].[S7SExecutionStep]  WITH CHECK ADD  CONSTRAINT [FK_S7SExecutionStep_Node] FOREIGN KEY([NodeID])
REFERENCES [dbo].[S7SNode] ([NodeID])
GO
ALTER TABLE [dbo].[S7SExecutionStep] CHECK CONSTRAINT [FK_S7SExecutionStep_Node]
GO
ALTER TABLE [dbo].[S7SNode]  WITH CHECK ADD  CONSTRAINT [FK_S7SNode_Workflow] FOREIGN KEY([WorkflowID])
REFERENCES [dbo].[S7SWorkflow] ([WorkflowID])
GO
ALTER TABLE [dbo].[S7SNode] CHECK CONSTRAINT [FK_S7SNode_Workflow]
GO
ALTER TABLE [dbo].[S7SNodeConnection]  WITH CHECK ADD  CONSTRAINT [FK_S7SNodeConnection_SourceNode] FOREIGN KEY([SourceNodeID])
REFERENCES [dbo].[S7SNode] ([NodeID])
GO
ALTER TABLE [dbo].[S7SNodeConnection] CHECK CONSTRAINT [FK_S7SNodeConnection_SourceNode]
GO
ALTER TABLE [dbo].[S7SNodeConnection]  WITH CHECK ADD  CONSTRAINT [FK_S7SNodeConnection_TargetNode] FOREIGN KEY([TargetNodeID])
REFERENCES [dbo].[S7SNode] ([NodeID])
GO
ALTER TABLE [dbo].[S7SNodeConnection] CHECK CONSTRAINT [FK_S7SNodeConnection_TargetNode]
GO
ALTER TABLE [dbo].[S7SNodeConnection]  WITH CHECK ADD  CONSTRAINT [FK_S7SNodeConnection_Workflow] FOREIGN KEY([WorkflowID])
REFERENCES [dbo].[S7SWorkflow] ([WorkflowID])
GO
ALTER TABLE [dbo].[S7SNodeConnection] CHECK CONSTRAINT [FK_S7SNodeConnection_Workflow]
GO
ALTER TABLE [dbo].[S7SWorkflowTrigger]  WITH CHECK ADD  CONSTRAINT [FK_S7SWorkflowTrigger_Node] FOREIGN KEY([TriggerNodeID])
REFERENCES [dbo].[S7SNode] ([NodeID])
GO
ALTER TABLE [dbo].[S7SWorkflowTrigger] CHECK CONSTRAINT [FK_S7SWorkflowTrigger_Node]
GO
ALTER TABLE [dbo].[S7SWorkflowTrigger]  WITH CHECK ADD  CONSTRAINT [FK_S7SWorkflowTrigger_Workflow] FOREIGN KEY([WorkflowID])
REFERENCES [dbo].[S7SWorkflow] ([WorkflowID])
GO
ALTER TABLE [dbo].[S7SWorkflowTrigger] CHECK CONSTRAINT [FK_S7SWorkflowTrigger_Workflow]
GO
/****** Object:  StoredProcedure [dbo].[S7S_AddColumnIfMissing]    Script Date: 11/21/2025 12:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------
-- UNIVERSAL SAFE COLUMN ADDER
------------------------------------------------------------

CREATE   PROCEDURE [dbo].[S7S_AddColumnIfMissing]
(
    @Table SYSNAME,
    @Column SYSNAME,
    @Definition NVARCHAR(MAX)
)
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM sys.columns 
        WHERE name = @Column AND object_id = OBJECT_ID(@Table)
    )
    BEGIN
        DECLARE @SQL NVARCHAR(MAX) = 'ALTER TABLE ' + @Table + ' ADD ' + @Column + ' ' + @Definition;
        EXEC(@SQL);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[S7SAddColumnIfMissing]    Script Date: 11/21/2025 12:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- Helper proc: add column if missing on existing tables
------------------------------------------------------------
CREATE   PROCEDURE [dbo].[S7SAddColumnIfMissing]
(
    @TableName  SYSNAME,      -- e.g. 'dbo.S7SWorkflow'
    @ColumnName SYSNAME,      -- e.g. 'CompanyID'
    @Definition NVARCHAR(MAX) -- e.g. 'INT NULL'
)
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1
        FROM sys.columns
        WHERE name = @ColumnName
          AND object_id = OBJECT_ID(@TableName)
    )
    BEGIN
        DECLARE @Sql NVARCHAR(MAX);
        SET @Sql = N'ALTER TABLE ' + @TableName +
                   N' ADD ' + QUOTENAME(@ColumnName) + N' ' + @Definition + N';';
        EXEC (@Sql);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[S7SCredentialSP]    Script Date: 11/21/2025 12:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*=====================================================================
  PROCEDURE: S7SCredentialSP
=====================================================================*/
CREATE   PROCEDURE [dbo].[S7SCredentialSP]
    @Operation      NVARCHAR(50),
    @UserID         BIGINT        = NULL,
    @CompanyID      INT           = NULL,
    @CredentialID   INT           = NULL,
    @CredentialName NVARCHAR(200) = NULL,
    @CredentialType NVARCHAR(100) = NULL,
    @DataJson       NVARCHAR(MAX) = NULL,
    @Notes          NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CurrentCompanyID INT;
    DECLARE @ActingCompanyID  INT;

    SELECT TOP 1
        @CurrentCompanyID = CompanyID
    FROM [User]
    WHERE UserID = @UserID;

    SET @ActingCompanyID = ISNULL(@CompanyID, @CurrentCompanyID);

    IF @Operation = 'SaveCredential'
    BEGIN
        DECLARE @Now DATETIME2 = SYSUTCDATETIME();

        IF EXISTS (
            SELECT 1
            FROM dbo.S7SCredential
            WHERE CredentialID = @CredentialID
              AND CompanyID    = @ActingCompanyID
              AND IsDeleted    = 0
        )
        BEGIN
            UPDATE dbo.S7SCredential
            SET Name           = @CredentialName,
                CredentialType = @CredentialType,
                DataJson       = @DataJson,
                Notes          = @Notes,
                UpdatedBy      = CAST(@UserID AS NVARCHAR(100)),
                UpdatedAt      = @Now
            WHERE CredentialID = @CredentialID
              AND CompanyID    = @ActingCompanyID;
        END
        ELSE
        BEGIN
            INSERT INTO dbo.S7SCredential
            (
                CompanyID, Name, CredentialType,
                DataJson, Notes, CreatedBy, CreatedAt
            )
            VALUES
            (
                @ActingCompanyID, @CredentialName, @CredentialType,
                @DataJson, @Notes, CAST(@UserID AS NVARCHAR(100)), @Now
            );

            SET @CredentialID = SCOPE_IDENTITY();
        END

        SELECT @CredentialID AS CredentialID;
        RETURN;
    END
    ELSE IF @Operation = 'rtvCredentials'
    BEGIN
        SELECT CredentialID,
               Name,
               CredentialType,
               DataJson,
               Notes,
               IsActive
        FROM dbo.S7SCredential
        WHERE CompanyID = @ActingCompanyID
          AND IsDeleted = 0
        ORDER BY CredentialID DESC;

        RETURN;
    END
    ELSE IF @Operation = 'DeleteCredential'
    BEGIN
        UPDATE dbo.S7SCredential
        SET IsDeleted = 1,
            UpdatedBy = CAST(@UserID AS NVARCHAR(100)),
            UpdatedAt = SYSUTCDATETIME()
        WHERE CredentialID = @CredentialID
          AND CompanyID    = @ActingCompanyID;

        RETURN;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[S7SExecutionListSP]    Script Date: 11/21/2025 12:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[S7SExecutionListSP]
    @WorkflowID INT,
    @Skip       INT = 0,
    @Take       INT = 50
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ExecutionID,
           WorkflowID,
           Status,
           TriggerType,
           StartedAt,
           CompletedAt,
           ErrorMessage
    FROM S7SExecution
    WHERE WorkflowID = @WorkflowID
      AND IsDeleted = 0
    ORDER BY ExecutionID DESC
    OFFSET @Skip ROWS FETCH NEXT @Take ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[S7SWorkflowExecutionSP]    Script Date: 11/21/2025 12:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*=====================================================================
  PROCEDURE: S7SWorkflowExecutionSP
=====================================================================*/
CREATE   PROCEDURE [dbo].[S7SWorkflowExecutionSP]
    @Operation     NVARCHAR(50),
    @UserID        BIGINT        = NULL,
    @WorkflowID    INT           = NULL,
    @ExecutionID   BIGINT        = NULL,
    @PayloadJson   NVARCHAR(MAX) = NULL,
    @WebhookSecret NVARCHAR(200) = NULL,
    @RequestJson   NVARCHAR(MAX) = NULL,
    @Status        NVARCHAR(50)  = NULL,
    @ErrorMessage  NVARCHAR(MAX) = NULL,
    @NodeID        INT           = NULL,
    @OutputJson    NVARCHAR(MAX) = NULL,
    @OutputKey     NVARCHAR(100) = NULL,
    @PageNumber    INT           = 1,
    @PageSize      INT           = 20
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Now      DATETIME2 = SYSUTCDATETIME();
    DECLARE @UserName NVARCHAR(100);

    SELECT TOP 1 @UserName = UserName
    FROM [User]
    WHERE UserID = @UserID;

    IF @Operation = 'StartManualExecution'
    BEGIN
        DECLARE @WFCompany INT;
        DECLARE @WFUnit    BIGINT;

        SELECT
            @WFCompany = CompanyID,
            @WFUnit    = UnitID
        FROM dbo.S7SWorkflow
        WHERE WorkflowID = @WorkflowID
          AND IsDeleted  = 0;

        IF @WFCompany IS NULL
            THROW 51001, 'Workflow not found', 1;

        INSERT INTO dbo.S7SExecution
        (
            WorkflowID, CompanyID, UnitID,
            Status, TriggerType, TriggerDataJson,
            CreatedBy, CreatedAt
        )
        VALUES
        (
            @WorkflowID, @WFCompany, @WFUnit,
            'Pending', 'Manual', @PayloadJson,
            ISNULL(@UserName, 'manual'), @Now
        );

        SELECT SCOPE_IDENTITY() AS ExecutionID;
        RETURN;
    END
    ELSE IF @Operation = 'StartWebhookExecution'
    BEGIN
        DECLARE @TriggerWorkflow INT;

        SELECT @TriggerWorkflow = WorkflowID
        FROM dbo.S7SWorkflowTrigger
        WHERE WorkflowID = @WorkflowID
          AND Secret     = @WebhookSecret
          AND IsDeleted  = 0;

        IF @TriggerWorkflow IS NULL
            THROW 51002, 'Invalid webhook secret', 1;

        DECLARE @Company INT;
        DECLARE @Unit    BIGINT;

        SELECT
            @Company = CompanyID,
            @Unit    = UnitID
        FROM dbo.S7SWorkflow
        WHERE WorkflowID = @WorkflowID;

        INSERT INTO dbo.S7SExecution
        (
            WorkflowID, CompanyID, UnitID,
            Status, TriggerType,
            TriggerDataJson, WebhookRequestJson,
            CreatedBy, CreatedAt
        )
        VALUES
        (
            @WorkflowID, @Company, @Unit,
            'Pending', 'Webhook',
            NULL, @RequestJson,
            'webhook', @Now
        );

        SELECT SCOPE_IDENTITY() AS ExecutionID;
        RETURN;
    END
    ELSE IF @Operation = 'rtvExecutions'
    BEGIN
        SELECT *
        FROM
        (
            SELECT ROW_NUMBER() OVER (ORDER BY ExecutionID DESC) AS RowNum,
                   *
            FROM dbo.S7SExecution
            WHERE WorkflowID = @WorkflowID
              AND IsDeleted  = 0
        ) AS e
        WHERE RowNum BETWEEN ((@PageNumber - 1) * @PageSize) + 1
                       AND   (@PageNumber * @PageSize)
        ORDER BY RowNum;

        SELECT COUNT(1) AS TotalCount
        FROM dbo.S7SExecution
        WHERE WorkflowID = @WorkflowID
          AND IsDeleted  = 0;

        RETURN;
    END
    ELSE IF @Operation = 'rtvExecution'
    BEGIN
        SELECT *
        FROM dbo.S7SExecution
        WHERE ExecutionID = @ExecutionID;

        SELECT *
        FROM dbo.S7SExecutionStep
        WHERE ExecutionID = @ExecutionID
        ORDER BY ExecutionStepID;

        RETURN;
    END
    ELSE IF @Operation = 'SaveExecutionStep'
    BEGIN
        INSERT INTO dbo.S7SExecutionStep
        (
            ExecutionID, NodeID, Status,
            SelectedOutputKey, OutputJson, ErrorMessage,
            CreatedBy
        )
        VALUES
        (
            @ExecutionID, @NodeID, @Status,
            @OutputKey, @OutputJson, @ErrorMessage,
            ISNULL(@UserName, 'workflow-daemon')
        );

        RETURN;
    END
    ELSE IF @Operation = 'MarkExecutionStatus'
    BEGIN
        UPDATE dbo.S7SExecution
        SET Status       = @Status,
            ErrorMessage = @ErrorMessage,
            CompletedAt  = CASE
                               WHEN @Status IN ('Succeeded','Failed','Canceled')
                               THEN @Now
                               ELSE CompletedAt
                           END,
            UpdatedAt    = @Now,
            UpdatedBy    = ISNULL(@UserName, 'workflow-daemon')
        WHERE ExecutionID = @ExecutionID;

        RETURN;
    END
    ELSE IF @Operation = 'DequeueExecution'
    BEGIN
        DECLARE @Execution TABLE
        (
            ExecutionID BIGINT,
            WorkflowID  INT
        );

        UPDATE dbo.S7SExecution
        SET Status   = 'Running',
            StartedAt = CASE WHEN StartedAt IS NULL THEN @Now ELSE StartedAt END,
            UpdatedAt = @Now,
            UpdatedBy = 'workflow-daemon'
        OUTPUT inserted.ExecutionID, inserted.WorkflowID
        INTO @Execution(ExecutionID, WorkflowID)
        WHERE ExecutionID =
        (
            SELECT TOP 1 ExecutionID
            FROM dbo.S7SExecution WITH (READPAST, UPDLOCK)
            WHERE Status    = 'Pending'
              AND IsDeleted = 0
            ORDER BY ExecutionID
        );

        IF EXISTS (SELECT 1 FROM @Execution)
        BEGIN
            SELECT ex.ExecutionID,
                   ex.WorkflowID,
                   wf.Name AS WorkflowName,
                   ex.TriggerType,
                   ex.TriggerDataJson,
                   ex.WebhookRequestJson
            FROM @Execution e
            INNER JOIN dbo.S7SExecution ex ON ex.ExecutionID = e.ExecutionID
            INNER JOIN dbo.S7SWorkflow  wf ON wf.WorkflowID  = e.WorkflowID;

            SELECT n.*
            FROM dbo.S7SNode n
            INNER JOIN @Execution e ON e.WorkflowID = n.WorkflowID
            WHERE n.IsDeleted = 0
            ORDER BY n.NodeID;

            SELECT c.*
            FROM dbo.S7SNodeConnection c
            INNER JOIN @Execution e ON e.WorkflowID = c.WorkflowID
            WHERE c.IsDeleted = 0
            ORDER BY c.NodeConnectionID;

            SELECT t.*
            FROM dbo.S7SWorkflowTrigger t
            INNER JOIN @Execution e ON e.WorkflowID = t.WorkflowID
            WHERE t.IsDeleted = 0;
        END
        ELSE
        BEGIN
            -- empty result sets (correct shapes)
            SELECT CAST(NULL AS BIGINT) AS ExecutionID WHERE 1 = 0;
            SELECT CAST(NULL AS INT)    AS NodeID      WHERE 1 = 0;
            SELECT CAST(NULL AS INT)    AS NodeConnectionID WHERE 1 = 0;
            SELECT CAST(NULL AS INT)    AS WorkflowTriggerID WHERE 1 = 0;
        END

        RETURN;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[S7SWorkflowSP]    Script Date: 11/21/2025 12:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*=====================================================================
  PROCEDURE: S7SWorkflowSP
=====================================================================*/
CREATE   PROCEDURE [dbo].[S7SWorkflowSP]
    @Operation           NVARCHAR(50),
    @UserID              BIGINT        = NULL,
    @CompanyID           INT           = NULL,
    @UnitID              BIGINT        = NULL,
    @WorkflowID          INT           = NULL,
    @WorkflowCode        NVARCHAR(50)  = NULL,
    @WorkflowName        NVARCHAR(200) = NULL,
    @WorkflowDescription NVARCHAR(1000) = NULL,
    @Status              NVARCHAR(50)  = NULL,
    @Priority            NVARCHAR(50)  = NULL,
    @Frequency           NVARCHAR(50)  = NULL,
    @Notes               NVARCHAR(MAX) = NULL,
    @IsActive            BIT           = 1,
    @NodesJson           NVARCHAR(MAX) = NULL,
    @ConnectionsJson     NVARCHAR(MAX) = NULL,
    @TriggersJson        NVARCHAR(MAX) = NULL,
    @PageNumber          INT           = 1,
    @PageSize            INT           = 50,
    @SearchQuery         NVARCHAR(200) = NULL,
    @SortColumn          NVARCHAR(50)  = 'WorkflowID',
    @SortDirection       NVARCHAR(4)   = 'DESC'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CurrentUserType  INT;
    DECLARE @CurrentCompanyID INT;
    DECLARE @ActingCompanyID  INT;

    SELECT TOP 1
        @CurrentUserType  = UserType,
        @CurrentCompanyID = CompanyID
    FROM [User]
    WHERE UserID = @UserID;

    SET @ActingCompanyID = ISNULL(@CompanyID, @CurrentCompanyID);

    IF @Operation IN ('SaveWorkflow', 'DeleteWorkflow')
       AND ISNULL(@CurrentUserType, 0) <> 1
    BEGIN
        THROW 51000, 'You''re not allowed to do the action', 1;
    END

    IF @Operation = 'SaveWorkflow'
    BEGIN
        DECLARE @Now DATETIME2 = SYSUTCDATETIME();

        IF EXISTS (
            SELECT 1
            FROM dbo.S7SWorkflow
            WHERE WorkflowID = @WorkflowID
              AND CompanyID  = @ActingCompanyID
              AND IsDeleted  = 0
        )
        BEGIN
            UPDATE dbo.S7SWorkflow
            SET WorkflowCode = @WorkflowCode,
                Name         = @WorkflowName,
                Description  = @WorkflowDescription,
                Status       = @Status,
                Priority     = @Priority,
                Frequency    = @Frequency,
                Notes        = @Notes,
                UnitID       = @UnitID,
                IsActive     = @IsActive,
                UpdatedBy    = CAST(@UserID AS NVARCHAR(100)),
                UpdatedAt    = @Now
            WHERE WorkflowID = @WorkflowID
              AND CompanyID  = @ActingCompanyID;

            DELETE FROM dbo.S7SNodeConnection  WHERE WorkflowID = @WorkflowID;
            DELETE FROM dbo.S7SWorkflowTrigger WHERE WorkflowID = @WorkflowID;
            DELETE FROM dbo.S7SNode            WHERE WorkflowID = @WorkflowID;
        END
        ELSE
        BEGIN
            INSERT INTO dbo.S7SWorkflow
            (
                CompanyID, UnitID, WorkflowCode, Name, Description,
                Status, Priority, Frequency, Notes,
                IsActive, CreatedBy, CreatedAt
            )
            VALUES
            (
                @ActingCompanyID, @UnitID, @WorkflowCode, @WorkflowName, @WorkflowDescription,
                @Status, @Priority, @Frequency, @Notes,
                @IsActive, CAST(@UserID AS NVARCHAR(100)), @Now
            );

            SET @WorkflowID = SCOPE_IDENTITY();
        END

        /* --------- Nodes (NodeKey stored in table; no OUTPUT alias) --------- */
        IF ISNULL(@NodesJson, '') <> ''
        BEGIN
            INSERT INTO dbo.S7SNode
            (
                WorkflowID, NodeKey, Name, NodeType, ConfigJson,
                PositionX, PositionY, CredentialID, RetryCount,
                CreatedBy, CreatedAt
            )
            SELECT
                @WorkflowID,
                NodeKey,
                Name,
                NodeType,
                ConfigJson,
                ISNULL(PositionX, 0),
                ISNULL(PositionY, 0),
                CredentialID,
                ISNULL(RetryCount, 0),
                CAST(@UserID AS NVARCHAR(100)),
                @Now
            FROM OPENJSON(@NodesJson)
                 WITH
                 (
                     NodeKey      NVARCHAR(200) '$.NodeKey',
                     Name         NVARCHAR(200) '$.Name',
                     NodeType     NVARCHAR(100) '$.NodeType',
                     ConfigJson   NVARCHAR(MAX) '$.ConfigJson',
                     PositionX    DECIMAL(18,4) '$.PositionX',
                     PositionY    DECIMAL(18,4) '$.PositionY',
                     CredentialID INT           '$.CredentialID',
                     RetryCount   INT           '$.RetryCount'
                 );
        END

        /* --------- Connections (map via NodeKey on S7SNode) --------- */
        IF ISNULL(@ConnectionsJson, '') <> ''
        BEGIN
            ;WITH ConnectionPayload AS
            (
                SELECT
                    SourceNodeKey,
                    TargetNodeKey,
                    SourceOutputKey,
                    TargetInputKey
                FROM OPENJSON(@ConnectionsJson)
                     WITH
                     (
                         SourceNodeKey  NVARCHAR(200) '$.SourceNodeKey',
                         TargetNodeKey  NVARCHAR(200) '$.TargetNodeKey',
                         SourceOutputKey NVARCHAR(100) '$.SourceOutputKey',
                         TargetInputKey  NVARCHAR(100) '$.TargetInputKey'
                     )
            )
            INSERT INTO dbo.S7SNodeConnection
            (
                WorkflowID, SourceNodeID, SourceOutputKey,
                TargetNodeID, TargetInputKey,
                CreatedBy, CreatedAt
            )
            SELECT
                @WorkflowID,
                SourceNode.NodeID,
                cp.SourceOutputKey,
                TargetNode.NodeID,
                cp.TargetInputKey,
                CAST(@UserID AS NVARCHAR(100)),
                @Now
            FROM ConnectionPayload cp
            INNER JOIN dbo.S7SNode SourceNode
                ON SourceNode.WorkflowID = @WorkflowID
               AND SourceNode.NodeKey    = cp.SourceNodeKey
               AND SourceNode.IsDeleted  = 0
            INNER JOIN dbo.S7SNode TargetNode
                ON TargetNode.WorkflowID = @WorkflowID
               AND TargetNode.NodeKey    = cp.TargetNodeKey
               AND TargetNode.IsDeleted  = 0;
        END

        /* --------- Triggers --------- */
        IF ISNULL(@TriggersJson, '') <> ''
        BEGIN
            INSERT INTO dbo.S7SWorkflowTrigger
            (
                WorkflowID, TriggerType, TriggerNodeID,
                Secret, CronExpression, ConfigurationJson,
                CreatedBy, CreatedAt
            )
            SELECT
                @WorkflowID,
                Trig.TriggerType,
                Trig.TriggerNodeID,
                Trig.Secret,
                Trig.CronExpression,
                Trig.ConfigurationJson,
                CAST(@UserID AS NVARCHAR(100)),
                @Now
            FROM OPENJSON(@TriggersJson)
                 WITH
                 (
                     TriggerType       NVARCHAR(50)  '$.TriggerType',
                     TriggerNodeID     INT           '$.TriggerNodeID',
                     Secret            NVARCHAR(200) '$.Secret',
                     CronExpression    NVARCHAR(100) '$.CronExpression',
                     ConfigurationJson NVARCHAR(MAX) '$.ConfigurationJson'
                 ) AS Trig;
        END

        SELECT WorkflowID
        FROM dbo.S7SWorkflow
        WHERE WorkflowID = @WorkflowID;

        RETURN;
    END
    ELSE IF @Operation = 'rtvWorkflow'
    BEGIN
        SELECT *
        FROM dbo.S7SWorkflow
        WHERE WorkflowID = @WorkflowID
          AND CompanyID  = @ActingCompanyID
          AND IsDeleted  = 0;

        SELECT *
        FROM dbo.S7SNode
        WHERE WorkflowID = @WorkflowID
          AND IsDeleted  = 0
        ORDER BY NodeID;

        SELECT *
        FROM dbo.S7SNodeConnection
        WHERE WorkflowID = @WorkflowID
          AND IsDeleted  = 0
        ORDER BY NodeConnectionID;

        SELECT *
        FROM dbo.S7SWorkflowTrigger
        WHERE WorkflowID = @WorkflowID
          AND IsDeleted  = 0
        ORDER BY WorkflowTriggerID;

        RETURN;
    END
    ELSE IF @Operation = 'rtvWorkflows'
    BEGIN
        ;WITH OrderedWorkflows AS
        (
            SELECT ROW_NUMBER() OVER
                   (
                       ORDER BY
                           CASE WHEN @SortColumn = 'Name'
                                     AND @SortDirection = 'ASC'
                                THEN Name END ASC,
                           CASE WHEN @SortColumn = 'Name'
                                     AND @SortDirection = 'DESC'
                                THEN Name END DESC,
                           CASE WHEN @SortColumn = 'WorkflowCode'
                                     AND @SortDirection = 'ASC'
                                THEN WorkflowCode END ASC,
                           CASE WHEN @SortColumn = 'WorkflowCode'
                                     AND @SortDirection = 'DESC'
                                THEN WorkflowCode END DESC,
                           WorkflowID DESC
                   ) AS RowNum,
                   *
            FROM dbo.S7SWorkflow
            WHERE CompanyID = @ActingCompanyID
              AND IsDeleted = 0
              AND (
                    @SearchQuery IS NULL
                    OR Name        LIKE '%' + @SearchQuery + '%'
                    OR WorkflowCode LIKE '%' + @SearchQuery + '%'
                  )
        )
        SELECT *
        FROM OrderedWorkflows
        WHERE RowNum BETWEEN ((@PageNumber - 1) * @PageSize) + 1
                       AND   (@PageNumber * @PageSize)
        ORDER BY RowNum;

        SELECT COUNT(1) AS TotalCount
        FROM dbo.S7SWorkflow
        WHERE CompanyID = @ActingCompanyID
          AND IsDeleted = 0
          AND (
                @SearchQuery IS NULL
                OR Name        LIKE '%' + @SearchQuery + '%'
                OR WorkflowCode LIKE '%' + @SearchQuery + '%'
              );

        RETURN;
    END
    ELSE IF @Operation = 'DeleteWorkflow'
    BEGIN
        UPDATE dbo.S7SWorkflow
        SET IsDeleted = 1,
            UpdatedBy = CAST(@UserID AS NVARCHAR(100)),
            UpdatedAt = SYSUTCDATETIME()
        WHERE WorkflowID = @WorkflowID
          AND CompanyID  = @ActingCompanyID;

        RETURN;
    END
END
GO
