@page "/AccessDenied"
@using Microsoft.Extensions.Localization
@inject IStringLocalizerFactory LocalizerFactory
@inject NavigationManager Navigation

<h3>@Localizer["AccessDeniedTitle"]</h3>
<p>@Localizer["AccessDeniedMessage"]</p>
<a class="btn btn-primary" href="/login">@Localizer["BackToLogin"]</a>

@code {
    private IStringLocalizer Localizer;

    protected override void OnInitialized()
    {
        Localizer = LocalizerFactory.Create(new Uri(Navigation.Uri).AbsolutePath, "");
    }
}
