@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@using Newtonsoft.Json
@inject IJSRuntime JS
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IStringLocalizerFactory LocalizerFactory
﻿@page "/test"

<div>@result</div>

<br />
<button type="button" onclick=@DisplayMessage>Click Here</button>

@code
{
    public string result { get; set; }

    void DisplayMessage()
    {
        result = "The button is clicked";
    }
}